.footer {
  width: 100%;
  padding: 0px 120px;
  .yellowLine {
    width: 3px;
    height: 120px;
    background-color: #f8ba22;
    margin-bottom: 60px;
    display: inline-block;
  }
  .footerLogo {
    margin-bottom: 120px;
    height: 158px;
  }
  .links {
    width: 100%;
    margin-bottom: 120px;
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.13em;
      color: #ffffff;
      margin: 0px 22px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .bottomOfFooter {
    border-top: 1px solid #ffffff;
    padding-top: 45px;
    padding-bottom: 51px;
    width: 100%;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.13em;
      color: #ffffff;
      a {
        color: #f8ba22;
      }
    }
    .socials {
      img {
        margin-left: 33px;
        height: 29px;
      }
    }
  }
}
@media only screen and (max-width: 1280px) {
  .footer {
    padding: 0px 100px;
    .links {
      flex-wrap: wrap;
      gap: 44px;
      a {
        margin: 0px;
      }
    }
    .bottomOfFooter {
      flex-wrap: wrap;
      gap: 33px;
      .socials {
        display: flex;
        align-items: center;
        gap: 33px;
        img {
          margin-left: 0px;
        }
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .footer {
    padding: 0px 50px;
    .yellowLine {
      width: 2px;
      height: 90px;
      margin-bottom: 40px;
    }
    .footerLogo {
      height: 100px;
      margin-bottom: 90px;
    }
    .links {
      margin-bottom: 75px;
      a {
        font-size: 14px;
      }
    }
    .bottomOfFooter {
      p {
        font-size: 12px;
      }
      .socials {
        gap: 30px;
        img {
          height: 20px;
        }
      }
    }
  }
}
