@font-face {
  font-family: alternate;
  font-style: normal;
  src: url("~assets/fonts/AlternateGothic.ttf");
}
@font-face {
  font-family: sandiego;
  font-style: normal;
  src: url("~assets/fonts/Sandiego.ttf");
}
@font-face {
  font-family: nimbus;
  font-style: normal;
  src: url("~assets/fonts/Nimbus-Sans-D-OT-Light_32752.ttf");
}
